<%= render 'shared/navbar' %>
<div class="container mt-3">
  <h1>My list: <%=@list.name%></h1>
  <div class="cards">
    <% @list.bookmarks.each do |bookmark| %>
      <li><strong>For: <%=bookmark.movie.title%></strong><br>
        <em>"<%=bookmark.comment%>"</em><br>
        <small><%=@post.strftime(":posted on %d/%m/%y")%></small>
      </li>
    <%end%>
    <!--Need to iterate my @list.bookmark.each do |bookmark| to show h-->
  </div>
  <div class="container">
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment %>
      <%= f.association :movie %>
      <%= f.submit 'Create my bookmark', class: 'btn btn-info mt-2' %>
    <% end %>
  </div>
</div>
