<div class="container mt-3">
  <h1>My list: <%=@list.name%></h1>
  <div class="cards">
    <div class="container mt-4">
      <% @list.bookmarks.each do |bookmark| %>
        <li><em>Comment:</em><br>
          "<%=bookmark.comment%>":<%=@post.strftime("posted on %d/%m/%y")%></li>
        <li><em>Movie:</em><br>
          <%=bookmark.movie.title%></li>
      </div>
    <%end%>
    <!--Need to iterate my @list.bookmark.each do |bookmark| to show h-->
  </div>
</div>
<div class="container">
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit 'Create my bookmark', class: 'btn btn-info mt-2' %>
  <% end %>
</div>
